* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  /* font-family: "Poppins", sans-serif;
  font-weight: 700; */

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
/* navbar */
.navbar {
  width: 100%;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  color: rgb(27, 18, 9);
  background-color: rgb(155, 130, 97);
  padding: 18px 100px;
  z-index: 1000;
  align-items: center;
  position: sticky;
}
.logo {
  height: 80px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}
.logo:hover {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}
.logo img {
  height: 50px;
  width: 80px;
}
.logotext {
  margin-top: 10px 0px;
  width: 100px;
  font-size: 15px;
  padding-top: 15px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.navbarlist {
  display: flex;
  color: rgb(27, 18, 9);
  font-size: 20px;
  justify-items: space-between;
}
.navbarlist a {
  padding: 0px 25px;
  color: rgb(27, 18, 9);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.navbarlist a:hover {
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}
.btn {
  display: flex;
}
.btn input {
  padding-top: 0px;
  margin-top: 0px;
  border-radius: 15px;
  padding: 0px 10px;
}
.bx {
  font-size: 20px;
  font-weight: bold;
}
.bx:hover {
  color: white;
  transition: 0.5s linear ease-in-out;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}
#menu-icon {
  display: none;
}
/* home */
#home {
  height: 550px;
  width: 100%;
  background: url(./Assets/coffee-bg.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
}
.box {
  color: rgb(27, 18, 9);
  font-size: 45px;
  text-align: center;
}
.box1 {
  color: rgb(27, 18, 9);
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.shop {
  color: rgb(27, 18, 9);
  font-size: 20px;
  width: 100%;
  height: 40px;
}
.btn1 {
  width: 40%;
  border-radius: 10px;
  border: 2px solid rgb(27, 18, 9);
}
.btn1:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}
.shop:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(43, 28, 28);
}
/* services */
#Services {
  width: 100%;
  height: 390px;
  padding: 30px 40px;
  background-color: rgb(245, 238, 229);
}
.innerbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}
#Services h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}
.grid-ser {
  width: 200px;
  height: 220px;
  text-align: center;
  background-color: rgb(155, 130, 97);
  border-radius: 1.9rem;
}
.grid-ser img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 5px;
  width: 100px;
  height: 130px;
}
.grid-ser:hover {
  cursor: pointer;
  background-color: rgb(240, 226, 208);
}
.grid-ser img:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.3);
}
.grid-ser p {
  font-size: 20px;
  font-weight: 400;
}
.grid-ser p:hover {
  color: white;
  background-color: rgb(27, 18, 9);
  border-radius: 20px;
}
/* products */
.products-heading {
  text-align: center;
}
.products-heading h2 {
  font-size: 40px;
  padding: 5px;
  margin-top: 10px;
}
.products-heading p {
  font-size: 20px;
}
.product-content {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: space-between;
  gap: 2rem;
  background-color: rgb(209, 172, 150);
  border-radius: 1.5rem;
  height: 600px;
  margin: 25px 200px;
  padding: 40px 50px;
}
.product-box {
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 201, 178);
}
.bx-heart {
  margin-top: 5px;
}
.product-box img {
  border-radius: 2.5rem;
  width: 90px;
  height: 90px;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.product-box p {
  border-radius: 2rem;
  border: 1px solid rgb(14, 13, 13);
  width: 50%;
  padding: 3px;
  text-align: center;
}
.product-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.product-box:hover {
  background-color: rgb(233, 170, 170);
  cursor: pointer;
  transition: all 250ms ease-in;
  transform: scale(1);
}
.product-box h2:hover {
  color: white;
}
.product-box img:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}
.product-box p:hover {
  color: white;
}
.product-info span:hover {
  color: white;
}
.product-info i {
  border-radius: 50%;
  background-color: rgb(134, 73, 73);
  padding: 8px;
  cursor: pointer;
}
/* team */
.team-container {
  height: 500px;
  width: 100%;
  background-color: rgb(248, 237, 242);
  padding: 8px;
}
.team-container h1 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}
.team-content {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: space-between;
  margin: 15px 150px;
  padding: 5px 50px;
}
.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  margin: 0px 4px;
  padding: 0px 8px;
  width: 300px;
  height: 370px;
  justify-content: space-around;
}
.team-box img {
  margin: 5px;
  width: 220px;
  height: 200px;
  border-radius: 40%;
  object-fit: cover;
}
.team-box p {
  text-align: center;
}
/* Reviews */
.reviews {
  height: 500px;
  width: 100%;
}
.review-heading {
  margin: 15px;
  text-align: center;
  font-size: 30px;
}
.slider-container {
  height: 400px;
  width: 60%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 280px;
}
.slider {
  height: 380px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* overflow-x: scroll; */
  overflow: hidden;
  background-color: rgb(238, 237, 201);
  border-radius: 10%;
}
.slide img {
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.slide {
  margin: 10px 20px;
  padding: 5px;
  width: 270px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.slide h3 {
  margin: 3px;
  padding: 2px;
  text-align: center;
}
.slide p {
  margin: 3px;
  padding: 2px;
  text-align: center;
}
#buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 30%;
}
#prev {
  border-radius: 50%;
  background-color: white;
  color: rgb(37, 31, 22);
  width: 45px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}
#next {
  border-radius: 50%;
  background-color: white;
  color: rgb(37, 31, 22);
  width: 45px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}
#prev:hover {
  cursor: pointer;
  transition: 1s;
  background-color: black;
  color: white;
}
#next:hover {
  cursor: pointer;
  transition: 1s;
  background-color: black;
  color: white;
}
.slide img:hover {
  cursor: pointer;
}
/* contact */
#contact-us {
  text-align: center;
  font-size: 40px;
  color: rgb(27, 18, 9);
  height: 400px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(155, 130, 97);
}
.contacts {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  font-size: 15px;
  color: rgb(27, 18, 9);
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  padding: 80px;
}
.logo1 {
  height: 80px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo1:hover {
  cursor: pointer;
  /* transition: all 250ms ease-in-out;
  transform: scale(1.1); */
}
.logo1 img {
  height: 60px;
  width: 80px;
}
.logotext1 {
  margin-top: 10px 0px;
  width: 100px;
  font-size: 15px;
  padding-top: 15px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.logotext1:hover {
  color: white;
}
.logo1 {
  display: flex;
  flex-direction: column;
}
.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 10px;
}
.contact-box a {
  color: rgb(27, 18, 9);
  font-size: 20px;
}
.contact-box a:hover {
  color: white;
}
.contact-box:hover {
  cursor: pointer;
  color: white;
}
.social {
  color: rgb(27, 18, 9);
}
.footer {
  background-color: rgb(27, 18, 9);
  width: 100%;
}
.footer-text {
  color: white;
  text-align: center;
}
/* Responsive */
@media (max-width: 1125px) {
  .navbarlist {
    font-size: 15px;
    justify-items: space-between;
  }
}
@media (max-width: 1280px) {
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    gap: 2rem;
    background-color: rgb(209, 172, 150);
    border-radius: 1.5rem;
    height: 900px;
    margin: 25px 200px;
    padding: 40px 50px;
  }
}
@media (max-width: 1230px) {
  .team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    margin: 0px 8px;
    padding: 0px 8px;
    width: 250px;
    height: 320px;
    justify-content: space-around;
  }
}
@media (max-width: 1110px) {
  .grid-ser {
    width: 150px;
    height: 170px;
    text-align: center;
    background-color: rgb(155, 130, 97);
    border-radius: 1.9rem;
  }
  .grid-ser img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 5px;
    width: 70px;
    height: 90px;
  }
}
@media (max-width: 1225px) {
  .slider-container {
    margin: 0px 215px;
  }
  #buttons {
    width: 40%;
  }
}
@media (max-width: 1050px) {
  .team-content {
    margin: 15px 90px;
    padding: 5px 50px;
  }
  #menu-icon {
    display: block;
  }
  .navbarlist {
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar {
    height: 300px;
    background-color: none;
    flex-direction: column;
  }
  #home {
    height: 400px;
  }
  .box {
    font-size: 30px;
  }
  .box1 {
    color: rgb(27, 18, 9);
    font-size: 15px;
    align-items: center;
    text-align: center;
  }
  .shop {
    color: rgb(27, 18, 9);
    font-size: 15px;
    width: 100%;
    height: 40px;
  }
  .btn1 {
    width: 40%;
    border-radius: 10px;
  }
}
@media (max-width: 950px) {
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    gap: 2rem;
    background-color: rgb(209, 172, 150);
    border-radius: 1.5rem;
    height: 900px;
    margin: 25px 100px;
    padding: 40px 20px;
  }
  .team-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-between;
    margin: 15px 150px;
    padding: 5px 50px;
  }
  .team-container {
    height: 800px;
  }
  .innerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin: 10px 100px;
    padding: 40px 30px;
  }
  .slider-container {
    margin: 0px 180px;
  }
  #buttons {
    width: 50%;
  }
  #Services {
    width: 100%;
    height: 600px;
  }
  .team-box img {
    margin: 5px;
    width: 180px;
    height: 150px;
    border-radius: 40%;
    object-fit: cover;
  }
  .grid-ser {
    width: 120px;
    height: 150px;
    text-align: center;
    background-color: rgb(155, 130, 97);
    border-radius: 1.9rem;
    margin: 10px;
  }
  .grid-ser img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 5px;
    width: 50px;
    height: 70px;
  }
}
@media (max-width: 850px) {
  .slider-container {
    margin: 0px 140px;
  }
  .team-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-between;
    margin: 15px 100px;
    padding: 5px 50px;
  }
}
@media (max-width: 750px) {
  .box {
    font-size: 30px;
  }
  .box1 {
    color: rgb(27, 18, 9);
    font-size: 15px;
    align-items: center;
    text-align: center;
  }
  .shop {
    color: rgb(27, 18, 9);
    font-size: 15px;
    width: 100%;
    height: 40px;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    gap: 2rem;
    background-color: rgb(209, 172, 150);
    border-radius: 1.5rem;
    height: 900px;
    margin: 25px 70px;
    padding: 40px 10px;
  }
  .slider-container {
    margin: 0px 120px;
  }
  #buttons {
    width: 60%;
  }
  .team-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-between;
    margin: 15px 70px;
    padding: 5px 30px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 50%;
  }
  .innerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin: 10px 60px;
  }
  #Services h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    gap: 2rem;
    background-color: rgb(209, 172, 150);
    border-radius: 1.5rem;
    height: 900px;
    margin: 25px 40px;
    padding: 40px 10px;
  }
}
